@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



.body {
    font-family: "Outfit", sans-serif;
}


.result-data::-webkit-scrollbar {
    display: none;
}


.result-data {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}



